<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
  <title>이메일 인증</title>
</head>
<body style="margin:0; padding:0; background: white;">
<!-- 전체 컨테이너 테이블 -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:30px; background: white;">
  <!-- 헤더: 로고와 텍스트 -->
  <tr>
    <td align="left">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <!-- 로고 이미지 셀 (실제 로고 이미지 URL로 변경) -->
          <td style="vertical-align: middle;">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 내용 영역 -->
  <tr>
    <td align="left" style="padding-top:50px;">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <!-- 제목 -->
        <tr>
          <td style="font-size:24px; font-weight:700; color:#2F2F2F; line-height:24px;">
            이메일 인증 번호
          </td>
        </tr>
        <!-- 인증번호 메시지 -->
        <tr>
          <td style="padding-top:32px; line-height:16px;">
            <p style="margin:0; font-size:16px; font-weight:400; color:#2F2F2F;">
              이메일 인증 번호는 <span style="font-size:24px; font-weight:700;">{{code}}</span> 입니다.
            </p>
            <p style="margin:0; padding-top:8px; font-size:16px; font-weight:400; color:#2F2F2F;">
              인증번호를 입력하고 회원가입을 이어서 진행해주세요.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 본문과 푸터 사이 간격 (50px) -->
  <tr>
    <td style="height:50px; line-height:50px;">&nbsp;</td>
  </tr>
  <!-- 푸터: 하단 안내 영역 -->
  <tr>
    <td align="left">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <!-- 안내 문구 -->
        <!-- 안내문과 구분선 사이 간격 (5px) -->
        <tr>
          <td style="height:5px; line-height:5px;">&nbsp;</td>
        </tr>
        <!-- 구분선 -->
        <tr>
          <td style="border-top: 0.5px solid #B5B5B5;">&nbsp;</td>
        </tr>
        <!-- 구분선과 저작권 정보 사이 간격 (5px) -->
        <tr>
          <td style="height:5px; line-height:5px;">&nbsp;</td>
        </tr>
        <!-- 저작권 정보 -->
      </table>
    </td>
  </tr>
</table>
</body>
</html>
